@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&family=Montserrat:wght@300;500&family=Roboto+Condensed:ital@1&display=swap');

*{

font-family: 'IBM Plex Sans Thai Looped', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}

table {
    width: 100%;
  }

img{
  width: 200px;
  height: 100px;
  object-fit: cover;
}

.add-Btn{
  display: flex;
  justify-content: space-between;
  margin: 0.5%;
}