<div class="header" >
   <nav id="navBar" >
    <img [routerLink]="['/']" src=".../../../assets/images/logo.png" class="logo">
    <ul class="nav-links" *ngIf="isMenuOpened">
        <li><a [routerLink]="['/']" class="active">Popular Places</a></li>
        <li><a [routerLink]="['house-listing']">Travel Outside</a></li>
        <li><a [routerLink]="['/']">Online Packages</a></li>
    </ul>
    <a [routerLink]="['/create']" class="register-btn" *ngIf="isMenuOpened" >Add Statement</a> 
    <div class="User-box" *ngIf="isMenuOpened">
        <button mat-button [matMenuTriggerFor]="menu" style="color: #FFF!important;"><i class="fa-solid fa-user"></i></button>
        <mat-menu #menu="matMenu">
            <button *ngIf="afterLoginDisplay" routerLink="/user-login" mat-menu-item>LogIn</button>
            <button *ngIf="afterLoginDisplay" routerLink="/user-registration" mat-menu-item>Register</button>             
            <button [routerLink]="['/create']" mat-menu-item  color="warn">Add Statement</button>  
            <button mat-menu-item (click)="openDialog()" color="warn">Log out</button>
        </mat-menu>
    </div>
    <i class="fa-solid fa-bars" (click)="toggleBtn()"></i>


   </nav>
   <div class="container">
    <h1>Find Your Next Stay</h1>
    <div class="search-box">
        <form action="">
            <div class="location-input">
                <label for="">Location</label>
                <input type="text" placeholder="Where are you going? ">
            </div>
            <div>
                <label for="">Chekc in</label>
                <input type="text" placeholder="Add Date">
            </div>
            <div>
                <label for="">Chekc out</label>
                <input type="text" placeholder="Add Check Out">
            </div>
            <div>
                <label for="">Guest</label>
                <input type="text" placeholder="Add Guest">
            </div>
            <button type="submit"><img src="../../../assets/images/search.png"></button>
        </form>
    </div>
   </div>
</div>
<app-exclusives></app-exclusives>
<app-cta></app-cta>
<app-travellers-stories></app-travellers-stories>
<div class="container2">
    <div class="about-msg">
        <h2>About Staybnb</h2>
        <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature
            from 45 BC, making it over 2000 years old.
            Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin
            words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
            literature,
            discovered the undoubtable source.
        </p>
    </div>
</div>

<app-footer></app-footer>
