<div class="main">
  <h1>Add New Apartment</h1>
  <form (submit)="onFormSubmit(formTemplate.value)"  [formGroup]="formTemplate" name="loginForm"  #form="ngForm" >
      <div class="inline-groups">
        <mat-form-field appearance="fill">
          <mat-label>House</mat-label>
          <input required formControlName="house"    matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Location</mat-label>
          <input required formControlName="location"    matInput>
        </mat-form-field>         
      </div>


      <div class="inline-groups">
        <mat-form-field appearance="fill">
          <mat-label>Guest</mat-label>
          <input required formControlName="guest"    matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Bed</mat-label>
          <input required formControlName="bed"    matInput>
        </mat-form-field>         
      </div>

      <div class="inline-groups">
          
        <mat-form-field appearance="fill">
          <mat-label>Bathroom</mat-label>
          <input required formControlName="bathroom"    matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Price</mat-label>
          <input required formControlName="price"    matInput>
        </mat-form-field>         
          
      </div>

 

       <div class="delBox">
        <img [src]="imgSrc" alt="" srcset="" (click)="imageInp.click()">
       </div>
       
     <div class="image-box">
      <button type="button" (click)="onImageBtnClick(imageInp)" mat-raised-button color="primary">Upload Image</button>
      <img  [src]="imageSrc" *ngIf="imageSrc" alt="">
      <input  formControlName="image" accept="image/*" (change)="onImageInpUpload($event)" #imageInp [ngStyle]="{
          'display': 'none'
      }"   type="file">

     </div> 




      <div class="form-group-inline">
          
          <button (click)="onCancelBtnClick()" type="button"   mat-raised-button color="warn">Cancel</button>
         
          <button 
        
          [disabled]="!form.valid" type="submit"   mat-raised-button color="primary">Add</button>
   
     </div>
  </form>
</div>


