<div class="container">
    <h2 class="sub-title">Travellers Stories</h2>
   <div class="stories">
    <div>
        <img src="./../../../assets/images/story1.png" alt="">
        <p>Popular European countries with a budget of just $10 000</p>
    </div>
    
    <div>
        <img src="./../../../assets/images/story2.png" alt="">
        <p>Traveled more than 100 countries in less than a year</p>
    </div>
    
    <div>
        <img src="./../../../assets/images/story3.png" alt="">
        <p>Best experience you get wile traveling to Thailand</p>
    </div>
   </div>
   <a href="#" class="start-btn">Start making money</a>
</div>