nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}

.logo {
    width: 140px;
    cursor: pointer;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
}

.container {
    padding: 0.7%;
}
.register-btn {
    background: #ff5361;
    color: #FFF;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}

.navbar-white{
    background: #FFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.navbar-white .fa-bars{
    color: #000;
    /* display: none; */
}

.active {
    position: relative;
}


.navbar-white.active::after {
    content: '';
    background: #ff5361;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}

.list-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 7%;
}

.left-col{
    flex-basis: 70%;
}

.right-col{
    flex-basis: 25%;
}

.left-col h1{
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
}

.house {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 30px 0;
    border-top:1px solid #ccc;
}

.house-img{
    flex-basis: 40%;
}

.house-info{
    flex-basis: 58%;
}

.house-img img {
    width: 100%;
    border-radius: 12px;
}

.house-info h3{
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}

.house-info i {
    color: #ff5361;
    font-size: 18px;
    margin: 10px 1px;

}

.house-price{
    text-align: right;
}

.house-price h4{
    font-size: 20px;
}

.house-price h4{
    font-size: 16px;
    font-weight: 500;
}

.sidebar{
   border: 1px solid #999;
   padding: 20px 30px; 
   margin-top: 30px;
}

.sidebar h2{
    font-weight: 500;
}

.sidebar h3{
    font-weight: 500;
    margin: 20px 0 10px;
}

.filter{
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;

}

.filter p{
    flex: 1;
    margin-top: 11px;
}

.filter input{
    margin-right: 15px;
    cursor: pointer;
}

.sidebar-link{
    text-align: right;
    margin: 20px 0;
}

.sidebar-link a {
    text-decoration: none;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.pagination img{
    width: 15px;
    margin: 10px 15px;
}

.right-arrow{
    transform: rotate(180deg);
}

.pagination span{
    margin: 10px 8px;
    width: 40px;
    height: 40px;
    line-height:40px ;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.pagination .current{
    background: #333;
    color: #FFF;
}

nav .fa-bars {
    display: none;
}



@media only screen and (max-width:700px) {
    .logo {
        position: fixed;
        top: 4%;
        left: 7%;
    }

    nav {
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: #000;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav .nav-links li {
        margin: 10px 0;
        display: block;
    }

    .register-btn {
        margin: 15px 0 30px;
        display: inline-block;
    }

    nav .fa-bars {
        display: block;
        position: fixed;
        top: 4%;
        right: 7%;
        color: #FFF;
        font-size: 28px;
    }

        nav .fa-bars {
            display: block;
            position: fixed;
            top: 4%;
            right: 7%;
            color: #FFF;
            font-size: 28px;
        }


    .active::after {
        left: -40px;
        transform: translate(0, 50%);
        bottom: 50%;    
    }

    .list-container{
        margin-top: 150px;
    }

    .left-col,.right-col, .house-info,.house-img{
        flex-basis: 100%;
    }
    .left-col h1 {
        font-size: 22px;
    }

    .house-info h3 {
        font-size: 18px;
    }

    .house-info i {
        font-size: 16px;
    }
    .pagination span{
        margin: 10px 2px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
    .hidemenu{
        max-height: 300px;
    }
}