<article>
    <form>
        <h1>Reset your password</h1>
        <p>Reset link will be sent to your the email addres you enter</p>
        <mat-form-field  appearance="fill">
            <mat-label>Email</mat-label>
            <input #email type="email" matInput placeholder="Ex. pat@example.com">
        </mat-form-field>
        <div class="button-group">
            <a routerLink="/user-login">Back to Log in</a>
            <button (click)="onUserPasswordResetBtnClick(email.value)" mat-raised-button color="primary">Send</button>
        </div>
    </form>
</article>