@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&family=Montserrat:wght@300;500&family=Roboto+Condensed:ital@1&display=swap');

button, p, h1, mat-form-field {
  font-size: medium;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

article {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

mat-form-field {
  width: 100%;
  margin-top: 2%;
  padding: 0%;
}

a {
  text-decoration: none;
  font-size: medium;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 30%;
}

h1 {
  text-align: center;
}