.details-list{
    list-style: none;
    margin: 50px 0;
}

.details-list li{
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
    position: relative;
}

.details-list li span{
    display: block;
    font-weight: 400;
    font-size: 16px;
}
.details-list li i{
    position: absolute;
    top: 5px;
    left: -40px;
}

.line {
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 1050px;
    margin: 20px 0 50px;
}
.home-desc{
    max-width: 700px;
    margin-bottom: 50px;
}

.map{
    margin: 50px 0;
}

.map iframe{
    width: 100%;
    margin-bottom: 30px;
}

.map h3{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}

.map b{
    display: block;
    margin-bottom: 16px;
}

.host{
    display: flex;
    align-items: center;
}

.host img{
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;
}

.host h2{
    margin-bottom:10px;
    font-weight: 500;
}

.host i {
    color: #ff5361;
}

.contact-host{
    display: inline-block;
    margin: 40px 0 40px 120px;
    text-decoration: none;
    color: #555;
    padding: 15px 50px;
    border: 1px solid #ff5361;
    border-radius: 8px;
}

@media only screen and (max-width:700px){
    .host{
        display: block;
        line-height: 28px;
    }
    .contact-host{
        margin: 40px 0;
    }
}