<ul class="details-list">
    <li> <i class="fa-solid fa-house-chimney"></i>Entire Home
        <span>You will have the entire flat for you.</span>
    </li>
    <li><i class="fa-solid fa-paintbrush"></i>Enhanced Clean
        <span>This host has commited to staybnb's cleaning process.</span>
    </li>
    <li><i class="fa-solid fa-location-dot"></i>Great Location
        <span>90% of recent guests gave the location a 5 star rating.</span>
    </li>
    <li><i class="fa-solid fa-heart"></i>Great Check-in Experience
        <span>100% of recent guests gave the check-in process a 5 star rating.</span>
    </li>
</ul>

<hr class="line">

<p class="home-desc">Guests Will be allocated on the ground floor according to availablity. you get a 
    comfortable Two bedroom apartment that has a true city feeling. The price  quoted
    is for two guest, at the guest slot please mark the number of guests to get a the exacct
    price for groups. the guests will be alloacted ground floor according to availablity. you
    get the comfortable two bedroom apartment that has a true city feeling.</p>

<hr class="line">

    <div class="map">
        <h3>Location on map</h3>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4460.732775754418!2d-122.4493973887842!3d37.76157082685337!2m3!1f0!2f0!3
        f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7dbce12c914d%3A0x3b9c2553590fe9e4!2sEdith%E2%80%99s%20Garden!5e0!3m2!1ska!2sge!4v1659812715663!5m2!1ska!2sge"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
            <b>San Francisco, California, United States</b>
            <p>It's like a home away from home</p>
    </div>
    <hr class="line">

    <div class="host">
        <img src="./../../../../assets/images/host.png">
        <div>
            <h2>Hosted by Brandon</h2>
            <p>
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </span> &nbsp; &nbsp; 245 reviews &nbsp; &nbsp; Response rate 100% &nbsp; &nbsp;
                Response time: 60min
            </p>
        </div>
    </div>
    <a href="" class="contact-host">Contact Host</a>

    <app-footer></app-footer>