<div class="container">
    <div class="footer">
        <a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        <hr>
        <p>Copyright © 2021</p>
    </div>
</div> 
