@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&family=Montserrat:wght@300;500&family=Roboto+Condensed:ital@1&display=swap');

button, p, h1, mat-form-field {
  font-size: medium;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 50%;
  padding: 8%;
}

button {
  margin-top: 3%;
  margin-left: 1.6%;
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin: 10px;
  padding: 0%;
}

.forgot-password {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.to-registerPG {
  display: flex;
  justify-content: flex-start;
  margin-top: 4%;
  margin-left: 1.6%;
}

a {
  margin-left: 1%;
}